<!doctype html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-716F81YX2T"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-716F81YX2T');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The card components from a design system created by Patrick Swanson for HCI 472 at DePaul University">

        <title>Swanson DS: Cards</title>

        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link rel="stylesheet" href="../css/ds.css" />

    </head>
    <body>
        <main class="d-flex flex-nowrap">

            <!-- This determines the width of the sidebar. Change if needed. -->
            <div class="flex-shrink-0 p-3 bg-purple" style="width: 300px;">

                <a href="/HCI472/DS/designsystem.html" class="d-flex align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <img src="../../img/Logo/SwansonLogo_Full_DarkMode_v1.png" style="width: 100%;">
                </a>

                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse" data-bs-target="#foundations-collapse" aria-expanded="false">
                            Foundations
                        </button>
                        <div class="collapse" id="foundations-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/HCI472/DS/Foundations/typography.html" class="link-custom d-inline-flex text-decoration-none rounded">Typography</a></li>
                                <li><a href="/HCI472/DS/Foundations/color.html" class="link-custom d-inline-flex text-decoration-none rounded">Color</a></li>
                                <li><a href="/HCI472/DS/Foundations/logo.html" class="link-custom d-inline-flex text-decoration-none rounded">Logo</a></li>

                            </ul>
                        </div>
                    </li>

                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="true">
                            Components
                        </button>
                        <div class="collapse show" id="components-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/HCI472/DS/Components/buttons.html" class="link-custom d-inline-flex text-decoration-none rounded">Buttons</a></li>
                                <li><a href="/HCI472/DS/Components/cards.html" class="link-custom d-inline-flex text-decoration-none rounded active">Cards</a></li>
                                <li><a href="/HCI472/DS/Components/headers.html" class="link-custom d-inline-flex text-decoration-none rounded">Headers</a></li>
                                <li><a href="/HCI472/DS/Components/navigation.html" class="link-custom d-inline-flex text-decoration-none rounded">Navigation &amp; Footer</a></li>
                                <li><a href="/HCI472/DS/Components/skills.html" class="link-custom d-inline-flex text-decoration-none rounded">Skill List</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                            Page Patterns
                        </button>
                        <div class="collapse" id="patterns-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/HCI472/DS/Patterns/homepage.html" class="link-custom d-inline-flex text-decoration-none rounded">Homepage</a></li>
                                <li><a href="/HCI472/DS/Patterns/about.html" class="link-custom d-inline-flex text-decoration-none rounded">About Me</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="b-example-divider b-example-vr"></div>

            <!-- Page Content  -->
            <div class = "container-fluid overflow-auto">
                <div class = "row p-4 header">
                    <h2> Cards
                    </h2>
                </div>
                <div class="col-lg-6 p-4" id="content"><p>This design system utilizes three cards states. The first: an image, title, description, and button. The second: an image, title, and description. The third: a title and description.</p>
                </div>

                <div class="row p-4 pt-0">
                    <h3>Card Variations</h3>
                </div>

                <hr class="mt-1 mb-1">

                <div class="row p-4 pt-0">
                    <div class="card mx-auto w-50" id="card-1">
                        <img src="../media/imgs/colors/Grayscale%20300.png" class="card-img-top" alt="Blank image slot">
                        <div class="card-header p-3 rounded-bottom" id="color-card-header">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-body p-0">Card body</p>
                            <button class="btn btn-secondary" id="secondary-btn">Button &nbsp; &#9654;</button>
                        </div>
                    </div>

                    <div class="card mx-auto w-50" id="card-1">
                        <img src="../media/imgs/colors/Grayscale%20300.png" class="card-img-top" alt="Blank image slot">
                        <div class="card-header p-3 rounded-bottom" id="color-card-header">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-body p-0">Card body</p>
                        </div>
                    </div>
                </div>
                <div class="row p-4 pt-0">
                    <div class="card mx-auto w-50" id="card-1">
                        <div class="card-header p-3 pb-0 rounded" id="color-card-header">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-body p-0">Card body</p>
                        </div>
                    </div>

                    <div class="card mx-auto w-50" id="card-1">
                        <div class="card-header p-3 pb-0 rounded" id="color-card-header-light">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-body p-0">Card body</p>
                        </div>
                    </div>
                </div>

                <hr class="mt-1 mb-1">

                <div class="row p-4" id="content">
                    <h3>Accessibility Considerations</h3>
                    <div class="col-lg-7"><p>Any image should use the "alt" tag to describe what is happening in the image. Styles for the cards are based on the primary colors and type defined in the Foundational category.</p></div>
                </div>

                <div class="row p-4 pt-0" id="content">
                    <h3>Usage</h3>
                    <div class="col-lg-7"><ul>
                        <li class="mx-4" id="li-elm">
                            <p>Cards provide structure and insight into the content found on the website. Use cards when previewing work or displaying individuals concepts.</p>
                        </li>
                        <li class="mx-4" id="li-elm">
                            <p>There are 3 variations of the card layout. Use the button when you need the card to navigate the user somewhere.</p>
                        </li>
                        <li class="mx-4" id="li-elm">
                            <p>Non-image cards may be used as labels or short lists. For example, skills/abilities.</p>
                        </li>
                        </ul>
                    </div>
                </div>

                <div class="row p-4 pt-0" id="code-ex">
                    <h3 class="pb-2">Code Examples</h3>
                    <h4>Image, Header, Description, and Button Card</h4>
                    <pre><code>&lt;div class=&quot;card mx-auto w-50&quot; id=&quot;card-1&quot;&gt;
    &lt;img src=&quot;../media/imgs/colors/Grayscale%20300.png&quot; class=&quot;card-img-top&quot; alt=&quot;Primary blue color&quot;&gt;
    &lt;div class=&quot;card-header p-3 rounded-bottom&quot; id=&quot;color-card-header&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Card Title&lt;/h5&gt;
        &lt;p class=&quot;card-body p-0&quot;&gt;Card body&lt;/p&gt;
        &lt;button class=&quot;btn btn-secondary&quot; id=&quot;secondary-btn&quot;&gt;Button &nbsp; &amp;#9654;&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <h4>Image, Header, and Description Card</h4>
                    <pre><code>&lt;div class=&quot;card mx-auto w-50&quot; id=&quot;card-1&quot;&gt;
    &lt;img src=&quot;../media/imgs/colors/Grayscale%20300.png&quot; class=&quot;card-img-top&quot; alt=&quot;Primary blue color&quot;&gt;
    &lt;div class=&quot;card-header p-3 rounded-bottom&quot; id=&quot;color-card-header&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Card Title&lt;/h5&gt;
        &lt;p class=&quot;card-body p-0&quot;&gt;Card body&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <h4>Header and Description Card</h4>
                    <pre><code>&lt;div class=&quot;card mx-auto w-50&quot; id=&quot;card-1&quot;&gt;
    &lt;div class=&quot;card-header p-3 pb-0 rounded&quot; id=&quot;color-card-header&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;Card Title&lt;/h5&gt;
        &lt;p class=&quot;card-body p-0&quot;&gt;Card body&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                </div>

                <div class="footer">
                    &copy; Patrick Swanson <br>Last Updated: Spring 2023 <br> Return to <a href="/HCI472.html"><b>swansonux.com/HCI472</b></a>
                </div>
            </div>      <!-- Content  -->
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <script src="../js/sidebars.js"></script>
    </body>
</html>
